{% extends 'admin_dashboard/layout.html.twig' %}

{% block admin_content %}
<h1>Create Article</h1>

<form method="POST" enctype="multipart/form-data">
    <label>Title</label>
    <input type="text" name="title" class="form-control" required>

    <label>Description</label>
    <textarea name="description" class="form-control"></textarea>

    <label>PDF File</label>
    <input type="file" name="file" class="form-control">

    <button class="btn-create mt-3">Create</button>
</form>
{% endblock %}
