# config/packages/security.yaml
security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email  # This tells Symfony to use email as username
    
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        
        main:
            lazy: true
            provider: app_user_provider
            
            form_login:
                login_path: app_login
                check_path: app_login
                default_target_path: app_login_success
                enable_csrf: true
                # ADD THESE TWO LINES:
                username_parameter: email  # Tell Symfony to look for 'email' field
                password_parameter: password  # Confirm password field name
            
            logout:
                path: app_logout
                target: app_login
            
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /
    
    access_control:
        #- { path: ^/admin, roles: ROLE_ADMIN }
        #- { path: ^/dashboard, roles: ROLE_USER }
        #- { path: ^/login, roles: PUBLIC_ACCESS }
        #- { path: ^/create-admin, roles: PUBLIC_ACCESS }
        #- { path: ^/articles, roles: ROLE_USER }
        # Add other public routes as needed

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10