# =========================================
# SYMFONY / PHP STANDARD GITIGNORE
# =========================================

# Composer dependencies
/vendor/

# Environment files
.env
.env.local
.env.local.php
.env.*


# Ignore all migration files
**/migrations/*.py
# But keep __init__.py so Django recognizes migrations package
!**/migrations/__init__.py

/migrations/*

# Symfony secret keys
/config/secrets/*/*.encrypt.public.php
/config/secrets/*/*.decrypt.private.php
/config/secrets/*/decrypted/

# Symfony caches, logs, sessions
/var/
!/var/.gitkeep

# Build artifacts
/public/bundles/
/public/build/

# PHPUnit
.phpunit.result.cache
/phpunit.xml

# =========================================
# EDITOR & SYSTEM FILES
# =========================================

# Windows
Thumbs.db
desktop.ini

# IDEs
.idea/
.vscode/
*.swp
*.swo

# =========================================
# NODE / FRONT-END (if using Webpack/Encore)
# =========================================
/node_modules/
npm-debug.log
yarn-error.log

# =========================================
# WAMP / XAMP RELATED
# =========================================
/wamp64/tmp/
/wamp64/logs/

# =========================================
# ARCHIVES & MISC
# =========================================
*.zip
*.tar
*.gz
*.rar
*.log
