{% extends 'admin_dashboard/layout.html.twig' %}

{% block admin_content %}
    <div class="header">
        <h1>Admin Dashboard</h1>
    </div>

    <p>Welcome to your admin area.</p>
    <p>Use the sidebar to manage content.</p>
{% endblock %}
